html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */

.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.landing-page {
  margin-left: 200px;
  max-height: 50%;
  max-width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -100px;
}

.sampleTable {
  border: black solid 1px;
}

.Current_Status {
  font-weight: bold;
}
h4 {
  margin-top: 25px;
  justify-content: left;
  text-align: left;
}
.page-title {
  margin-top: -25px;
  justify-content: left;
  text-align: left;
}
caption {
  text-align: left;
  font-size: 1em;
  font-weight: bolder;
}

.title-indent {
  margin-left: 125px;
}

.welcome-message {
  text-align: left;
  margin: 0px;
}
.about-container {
    display: flex;
    margin-left: 100px;
}
.container-about {
    flex: 1;
    padding: 25px;
    
}
.container-about:first-child {
    padding: 25px;
}
.container-about:second-child {
    padding: 25px;
}
.about-page {
  line-height: normal;
  width: 500px;
}

.back-button {
  margin: 40px;
  padding: 10px;
  text-align: left;
  transform: translateY(200%);
}


.field-button {
    background-color: #fdb41b;
}

.about-image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: 1px solid lightgray;
}

