.nav {
    /* flex box layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    background-color: #fdb418;
    color: #1b1c19;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5em;

}

.nav a {
    text-decoration: none;
}

.nav-title {
    font-size: 24px;
    color: #1b1c19;
    padding-left: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navLink {
    display: inline-block;
    color: #1b1c19;
    background-color: #fdb41b;
    text-align: center;
    padding: 24px 10px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    /* these last two make the logout button in
  the nav bar look like another link */
    border: none;
    cursor: pointer;
    outline: 0;
    font-weight: 600;
    
}

.navLink:hover {
    background-color: #f1ad18;
}

a:visited,
a:link {
    text-decoration: none;
    color: #1b1c19;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-logo {
    margin-left: 20px;
    transform: rotate(-15deg);
    max-height: fit-content;
    max-height: fit-content;
    image-rendering: optimizeQuality; 
    padding-bottom: 0px;
}

.nav-logo-span {
    max-height: 160px;
    max-width: 160px;
    margin-bottom: 0px;
    margin-top:10px;
    padding-bottom: 0px;
    height: 90px;
}

.nav-logo-link {
    max-height: 50px;
    max-width: 50px;
}
.nav-logo-title {
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    padding-left: 25px;
    margin-top: -50px;
    padding-top: 0;
}

.custom-logo-link-img {
    top: -4px;
    position: absolute;
    z-index: 999;
    height: 160px;
    margin-left: 30px;
    transform: rotate(-15deg);
}

.menuButton{ 
    position: right;
    margin-right: 40px;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
}

.menuPopup{ 
    margin-top: 50px;
    position: right;
    z-index: 999;
    font-family: 'Montserrat', sans-serif;
}

.title {
    margin-top: 20px;
    margin-left: 225px;
    font-family: 'Montserrat', sans-serif;
}